body{margin:0;padding:0;font-family:sans-serif}
.btn.btn-info {
    background-color: rgb(211,211,211);
    border: 2px solid rgb(211,211,211);
    font-size:24px;
    padding:12px 48px;
    color:#777777;
}

#section-a {
    position:relative;
    background-image: linear-gradient(135deg, #FFFFFF 65%, #8BBAE9 100%);
    height:100%;
}

#section-a .product-sub-headline {
    background-color:#fff;
    background-color:rgba(255,255,255,0.6);
}

#section-a:before {
    position:absolute;
    top:0;
    right:0;

    width:100%;
    height:100%;
    background-color:#fff;
    animation-duration:1s;

    opacity:1;
    transition:opacity 1s;
}

#section-a.grad:before {
    opacity:0;
}

.landing-phones {
    position:absolute;
    left:110%;
    top:10%;
    transition:left 1s;
}

#section-a.grad .landing-phones {
    left:68%;
    top:10%;
}

.product-sub-headline {
    font-family:arial, sans-serif;
    font-size:36px;
    margin-top:10px;
}

p.product-detail {
    font-size:16px;
    padding:0;
    margin:0;
}

.content-left {
    text-align:left;
}

input.signup {
    background: #FFFFFF;
    border: 1px solid #485563;
    border-radius: 6px;
    height:32px;
    padding:1em;
    color:rgb(72, 85, 99);
}

button.signup,
input.button.submit {
    background-color:#485563;
    border-radius:6px;
    font-size:14px;
    font-family:arial, sans-serif;
    color:#fff;
    border:1px solid #485563;
    height:32px;
    padding:1px 10px;
}

button.signup:disabled,
input.button.submit:disabled, input.signup:disabled {
    opacity:0.5;
    transition: opacity 0.5s;
}

.form-message
, #mc_embed_signup input.mce_inline_error
, #mc_embed_signup div.mce_inline_error {
    font-family:Raleway-Light;
    font-size:16px;
    margin-top:10px;
    margin-left:0.5em;
}

.form-message.fail
, #mc_embed_signup input.mce_inline_error
, #mc_embed_signup div.mce_inline_error {
    color:#D0021B !important;
    background-color:#fff !important;
    margin-left:0 !important;
}

.form-message.success
, #mce-success-response {
    color:#00C872;
    margin-bottom:12px;
}

.light-section {
    color:#485563;
}

.dark-section {
    color:#fff;
}

.footer-section {
    background-image: linear-gradient(-180deg, rgba(0,47,105,0.74) 0%, #012F6A 100%);
}

.signup-form {
    margin-top:40px;
}

p {
    padding:25px;
    margin:25px 50px;
}

.news-update p {
    padding:0;
    margin:0;
}

h1.news-headline {
    // font-family:arial, sans-serif;
}

h4.news-date {
    color:#aaa;
}

.copyright {
    padding:0;
}

.press-arrow {
    font-family:arial, sans-serif;
    position:absolute;
    text-align:center;
    top:590px;
    width:100%;
    padding-bottom:40px;
    margin-left:-15px;
    color:#404b59;
}

.card {
    text-align:left;
}

.card-block {
    padding:2rem;
}

p.card-text {
    padding:0;
    margin:0;
}

.hiring-link {
    font-family: 'Helvetica', Sans-serif;
    font-size:10px;
    position:absolute;
    bottom:8px;
    left:22px;

    white-space:nowrap;
}

.red {
    color:#FC566A;
}

.press-logos {
    background-color:lightgrey;
    // border-bottom: 1px solid #404040;
    margin:22px 0;
}

.press-logos img {
    padding:30px 20px;
}

.section-headline {
    text-align:center;
}

.section-text {
    font-family:arial, sans-serif;
    font-size:24;
    text-align:center;
}
